window {
    margin: 0px;
    background-color: #232136;
    border-radius: 0px;
    border: 2px solid #c4a7e7;
    color: #e0def4;
    font-family: 'FantasqueSansM Nerd Font Mono';
    font-size: 20px;
}

#input {
    margin: 5px;
    border-radius: 10px;
    border: none;
    color: #eb6f92;
    background-color: #393552;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #393552;
    color: #c4a7e7;
    border-radius: 10px;
}

#outer-box {
    margin: 15px;
    border: none;
    border-radius: 10px;
    background-color: #232136;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #e0def4;
} 

#entry:selected {
    background-color: #3e8fb0;
    color: #232136;
    border-radius: 0px;;
    outline: none;
}

#entry:selected * {
    background-color: #3e8fb0;
    color: #232136;
    border-radius: 0px;;
    outline: none;
}
